/* Colores modificados para usar blanco y tonos neutros */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: white;
    color: black;
}

.nav > li.active > a,
.nav > li > a:hover,
div.navbar-collapse .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: white;
    color: black;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: black;
    font-weight: bold;
}

.navbar-inverse {
    background-color: white;
    border-color: black;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-nav > li > a:hover,
a.navbar-brand:hover,
a.fa.fa-home.fa-lg.navbar-brand:hover {
    color: #b3123f;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: white;
    color: black;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
    border-color: black !important;
}

.btn-primary {
    color: black;
    background-color: white;
    border: 2px solid black;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #fafafa;
    border-color: black;
    color: #a51d44;
}

.printTitle,
body.print h1 {
    color: black !important;
}

/* Opcional: ajusta enlaces e íconos */
.anchorjs-link:hover,
a[data-toggle="tooltip"] {
    color: black;
}
