<div class="carrusel-macos">
  <div class="visor-principal">
    <img id="imagen-principal" src="{{ site.data[include.species].tiles[0].image }}" alt="{{ site.data[include.species].tiles[0].alt }}">
  </div>
  <div class="miniaturas">
    {% for tile in site.data[include.species].tiles %}
      <img class="miniatura" src="{{ tile.image }}" alt="{{ tile.alt }}" onclick="
        document.getElementById('imagen-principal').src='{{ tile.image }}';
        document.getElementById('imagen-principal').alt='{{ tile.alt }}';
      ">
    {% endfor %}
  </div>
</div>
