<div id="userMap">
<!-- Modal Testudines -->
    <div class="modal fade" id="myModal_Testudines" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Testudines</h4>
          </div>
          <div class="modal-body">
<p>Las siguientes son las familias de tortugas que podemos encontrar en Colombia:</p>

    <ul>
        <li><a href="p2_sample6.html">Chelidae</a></li>
        <li><a href="p2_sample7.html">Cheloniidae</a></li>
        <li><a href="p2_sample8.html">Chelydridae</a></li>
        <li><a href="p2_sample8.html">Dermochelyidae</a></li>
        <li><a href="p2_sample8.html">Geoemydidae</a></li>
        <li><a href="p2_sample8.html">Kinosternidae</a></li>
        <li><a href="p2_sample8.html">Podocnemididae</a></li>
        <li><a href="p2_sample8.html">Testudinidae</a></li>
    </ul>
    <p>Da clic sobre tu familia de interés y mira las especies que pertenecen a ella.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


<!-- Modal Sauria -->
    <div class="modal fade" id="myModal_Sauria" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Squamata:Sauria</h4>
          </div>
          <div class="modal-body">
<p>Las siguientes son las familias de lagartijas que podemos encontrar en Colombia:</p>

    <ul>
        <li><a href="p2_sample6.html">Alopoglossidae</a></li>
        <li><a href="p2_sample7.html">Diploglossidae</a></li>
        <li><a href="p2_sample8.html">Gekkonidae</a></li>
        <li><a href="p2_sample8.html">Gymnophthalmidae</a></li>
        <li><a href="p2_sample8.html">Iguanidae: Anolinae</a></li>
        <li><a href="p2_sample8.html">Iguanidae: Corytophaninae</a></li>
        <li><a href="p2_sample8.html">Iguanidae: Hoplocercinae</a></li>
        <li><a href="p2_sample8.html">Iguanidae: Iguaninae</a></li>
        <li><a href="p2_sample8.html">Iguanidae: Polychrotinae</a></li>
        <li><a href="p2_sample8.html">Iguanidae: Tropidurinae</a></li>
        <li><a href="p2_sample8.html">Phyllodactylidae</a></li>
        <li><a href="p2_sample8.html">Scincidae</a></li>
        <li><a href="p2_sample8.html">Sphaerodactylidae</a></li>
        <li><a href="p2_sample8.html">Teiidae</a></li>
    </ul>
    <p>Da clic sobre tu familia de interés y mira las especies que pertenecen a ella.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

<!-- Modal Serpentes -->
    <div class="modal fade" id="myModal_Serpentes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Squamata:Serpentes</h4>
          </div>
          <div class="modal-body">
<p>Las siguientes son las familias de serpientes que podemos encontrar en Colombia:</p>

    <ul>
        <li><a href="p2_sample6.html">Aniliidae</a></li>
        <li><a href="p2_sample7.html">Anomalepididae</a></li>
        <li><a href="p2_sample8.html">Boidae</a></li>
        <li><a href="colubridae_colubrinae.html">Colubridae: Colubrinae</a></li>
        <li><a href="p2_sample8.html">Colubridae: Dipsadinae</a></li>
        <li><a href="p2_sample8.html">Elapidae</a></li>
        <li><a href="p2_sample8.html">Leptotyphlopidae</a></li>
        <li><a href="p2_sample8.html">Tropidophiidae</a></li>
        <li><a href="p2_sample8.html">Typhlopidae</a></li>
        <li><a href="p2_sample8.html">Viperidae</a></li>
    </ul>
    <p>Da clic sobre tu familia de interés y mira las especies que pertenecen a ella.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


<!-- Modal Crocodylia -->
    <div class="modal fade" id="myModal_Crocodylia" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Crocodylia</h4>
          </div>
          <div class="modal-body">
<p>Las siguientes son las familias de cocodrilos y caimanes presentes en Colombia:</p>

    <ul>
        <li><a href="p2_sample6.html">Alligatoridae</a></li>
        <li><a href="p2_sample7.html">Crocodylidae</a></li>
    </ul>
    <p>Da clic sobre tu familia de interés y mira las especies que pertenecen a ella.</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>


</div>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
